@import './../../node_modules/ldbutton/index.css';
@import './../../node_modules/@loadingio/loading.css/loading.utils.css';
@import './../../node_modules/@loadingio/loading.css/entries/cycle.css';

#picker-menu {
    /* stylelint-disable-next-line */
    a.bynderDamAssetPicker {
        background-image: url('../img/bynder-logo.svg');
        background-size: 17px;
        padding-left: 36px;
    }

    /* stylelint-disable-next-line */
    a.celumDamAssetPicker {
        background-image: url('../img/celum-logo.svg');
        background-size: 50px;
    }
}

body[data-dam-asset-picker='bynder'] .tl_folder_top .tl_left {
    background: no-repeat 0 / 50% url('../img/bynder-logo.svg');
    background-size: 17px;
    padding-left: 25px;
}

body[data-dam-asset-picker='celum'] .tl_folder_top .tl_left {
    background: no-repeat url('../img/celum-logo.svg');
    padding-left: 20px;
}

#dam-asset-mgmt .download-button {
    .button {
        margin-right: -3px;
        cursor: pointer;

        &[disabled] {
            cursor: wait;
        }
    }

    input:disabled {
        display: none;
    }
}

#dam-asset-mgmt {
    min-width: 660px;

    .loader {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding-top: 50px;
    }
}
